@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>By: @ViewData["By"]</p>

 <address>
     <strong>More information: </strong>
     <a href="http://www.gnicoleli.com.br"> gnicolel.com.br</a>
 </address>